@model IEnumerable<AM_The_Tea_Round_Picker.Models.Tea>

@{
    ViewBag.Title = "Tea";
}

<div class="jumbotron">
    <h2 style="color: #56002a !important;">Tea Management</h2>
    <p class="lead">Add or remove tea choices.</p>
    @*<img src="~/Images/tea-pot.png" / style="border-radius: 20px;">*@
</div>

<table>
    <tr>
        <th>Tea</th>
    </tr>
    @foreach (var tea in Model)
    {
        <tr>
            <td>@tea.TeaName</td>
        </tr>
    }
</table>

