@model IEnumerable<AM_The_Tea_Round_Picker.Models.Person>

@{
    ViewBag.Title = "Person";
}

<div class="jumbotron">
    <h2 style="color: #56002a !important;">Person Management</h2>
    <p class="lead">Add or remove people.</p>
    @*<img src="~/Images/tea-pot.png" / style="border-radius: 20px;">*@
</div>

<a href="@Url.Action("Create", "Person")" class="btn btn-primary">Add Person</a>
<a href="@Url.Action("Delete", "Person")" class="btn btn-danger">Remove Person</a>

<table class="table table-bordered">
    <tr>
        <th class="table">
            Person
        </th>
    </tr>
    @foreach (var person in Model)
    {
        <tr style="border: 1px solid;">
            <td>@person.PersonName</td>
        </tr>
    }
</table>
