
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2 style="color: #56002a !important;">Person Management</h2>
    <p class="lead">Add or remove people.</p>
    @*<img src="~/Images/tea-pot.png" / style="border-radius: 20px;">*@
</div>

